<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" routerLink="/home" translate>APP_NAME</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/transfers" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>My Transfers</span>
    </button>
    <button mat-button routerLink="/offers" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>My Offers</span>
    </button>
  </div>
  <span fxFlex></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" (click)="updateBalance()">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list>
      <mat-list-item *ngFor="let balance of balances">
        <span>{{ balance.currency.symbol }}: </span> &nbsp; {{ balance.balance - balance.blocked_balance }}
      </mat-list-item>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
