.container {
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

.col {
  width: 12.5%;
  font-size: 16px;
}

.row-container {
  display: flex;
  height: 48px;
  align-items: center;
  &:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.5);
  }
  &.header {
    background-color: #2196f3 !important;
    color: white;
  }
}

.table-container {
  max-height: 60vh;
  width: 100%;
  overflow-y: auto;
}

.btn-cancel {
  background-color: red;
  color: white;
}

.loading-overlay {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
}
