<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>Offers</mat-card-title>
    </h1>
    <mat-card-content>
      <div class="row-container header">
        <span class="col">Offered Currency</span>
        <span class="col">Initial Amount</span>
        <span class="col">Remaining Amount</span>
        <span class="col">Wanted Currency</span>
        <span class="col">Price Rate</span>
        <span class="col">Date Posted</span>
        <span class="col">Status</span>
        <span class="col"></span>
      </div>
      <mat-divider></mat-divider>
      <div class="table-container">
        <div class="row-container"  *ngFor="let offer of offers">
          <span class="col">{{ offer.offer_currency }}</span>
          <span class="col">{{ offer.initial_amount }}</span>
          <span class="col">{{ offer.amount }}</span>
          <span class="col">{{ offer.wanted_currency }}</span>
          <span class="col">{{ offer.price }}</span>
          <span class="col">{{ formatDate(offer.datetime) }}</span>
          <span class="col">{{ offer.status }}</span>
          <span clas="col">
            <button 
              class="btn-cancel"
              mat-stroked-button
              *ngIf="offer.status==='wait'"
              (click)="cancelOffer(offer)"
            >Cancel Offer</button>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner style="margin: 45vh auto"></mat-spinner>
</div>