<div class="container">
  <mat-card>
    <mat-card-title>Price Graph</mat-card-title>
    <mat-card-content style="width:100%; justify-content: space-around; display:flex;">
      <highcharts-chart
        *ngIf="showChart"
        id="container"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        [(update)]="updateFlag"
        class="chart"
      ></highcharts-chart>
      <div *ngIf="!showChart">
        <span class="chart" style="margin:auto">Choose currencies to show the price chart.</span>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div style="display:flex;">
        <div style="width:17%">
          <app-currency-selector
            (currencyChange)="selectCurrency($event)"
            [showNumberFields]="true"
          ></app-currency-selector>
          <button
            (click)="postOffer()"
            mat-stroked-button
            class="btn-offer"
            [disabled]="selectedCurrencies.valid !== null"
          >
            Post Offer
          </button>
        </div>
        <div class="offers-container">
          <app-offer-list
            class="offer-list"
            [offers]="buy_from_offers"
            [haveCurrency]="selectedCurrencies.want_currency"
            [wantCurrency]="selectedCurrencies.offered_currency"
            [label]="'Buy from:'"
            [isLoading]="isLoading"
            [sortOrder]="'ASC'"
          ></app-offer-list>
          <app-offer-list
            class="offer-list"
            [offers]="sell_as_offers"
            [haveCurrency]="selectedCurrencies.offered_currency"
            [wantCurrency]="selectedCurrencies.want_currency"
            [label]="'Selling like:'"
            [isLoading]="isLoading"
            [sortOrder]="'DESC'"
          ></app-offer-list>
        </div>
      </div>
      <div style="display:flex"></div>
    </mat-card-content>
  </mat-card>
</div>
<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner style="margin: 45vh auto"></mat-spinner>
</div>
