.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.btn-offer {
  background-color: #2196f3;
  color: white;
  width: 100%;
  min-width: 190px;

  &:disabled {
    background-color: #e5e5e5;
    color: white;
  }
}

.loading-overlay {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
}

.offers-container {
  width: 83%;
  display: flex;
  justify-content: space-evenly;
}

.offer-list {
  width: 50%;
}

.chart {
  height: 45vh;
  display: block;
}
