<div class="container">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card-content *ngIf="!isLoading">
      <mat-card-title>Select Currencies</mat-card-title>
      <form [formGroup]="form">
        <div style="display:flex; justify-content: space-between;">
          <mat-form-field style="width:80px;">
            <mat-label>Offer: </mat-label>
            <mat-select style="width:80px;" formControlName="offered_currency">
              <mat-option *ngFor="let currency of currencies" [value]="currency.symbol">{{
                currency.symbol
              }}</mat-option>
            </mat-select>
            <mat-error>A currency must be selected.</mat-error>
          </mat-form-field>
          <mat-form-field style="width:80px;" *ngIf="showNumberFields">
            <mat-label>Amount:</mat-label>
            <input matInput formControlName="amount" />
          </mat-form-field>
        </div>
        <div style="display:flex; justify-content: space-between;">
          <mat-form-field style="width:80px;">
            <mat-label>Want:</mat-label>
            <mat-select formControlName="want_currency">
              <mat-option *ngFor="let currency of currencies" [value]="currency.symbol">{{
                currency.symbol
              }}</mat-option>
            </mat-select>
            <mat-error>A currency must be selected.</mat-error>
          </mat-form-field>
          <mat-form-field style="width:80px;" *ngIf="showNumberFields">
            <mat-label>Price(each):</mat-label>
            <input matInput formControlName="price" />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
