<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate
        >{{ label }} <span *ngIf="showLists">({{ haveCurrency }})</span></mat-card-title
      >
    </h1>
    <mat-card-content class="height">
      <mat-spinner *ngIf="isLoading" style="margin: 0 auto"></mat-spinner>
      <div class="header-container" *ngIf="showLists && !isLoading">
        <div class="row-container header">
          <span class="col">Price</span>
          <span class="col">Total</span>
          <span class="col">Sellers</span>
        </div>
      </div>
      <div class="table-container">
        <ng-container *ngFor="let price of sortOffers()">
          <div class="row-container">
            <span class="col">{{ price }}{{ wantCurrency }}/each</span>
            <span class="col">{{ listOffers[price].total }}</span>
            <span class="col">{{ listOffers[price].sellers }}</span>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!isLoading && !showLists">
        Available Offers (if any) will be listed after you select currencies.
      </div>
    </mat-card-content>
  </mat-card>
</div>
