.container {
  text-align: center;
  padding: 0 1rem;
  width: 100%;
}

.mat-icon {
  vertical-align: middle;
}

.col {
  width: 33%;
  font-size: 16px;
  vertical-align: middle;
  word-wrap: break-word;
}

.row-container {
  display: flex;
  justify-content: space-around;
  height: 20px;
  align-items: center;
  &:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.5);
  }
  &.header {
    background-color: #2196f3 !important;
    color: white;
  }
}

.table-container {
  height: 14vh;
  overflow-y: auto;
}

.header-container {
  height: 20px;
}

.height {
  height: 18vh;
}
