<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>Transfers</mat-card-title>
    </h1>
    <mat-card-content>
      <div style="display:flex; justify-content: space-around;">
        <mat-card style="width:50%">
          <mat-card-title>Received</mat-card-title>
          <mat-card-content>
            <div style="display:flex; justify-content: space-around;">
              <mat-list>
                <mat-list-item *ngFor="let received of transfers.received">
                  <span
                    >{{ received.currency_name }}: {{ received.amount }} on {{ formatDate(received.datetime) }}</span
                  >
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card style="width:50%">
          <mat-card-title>Sent</mat-card-title>
          <mat-card-content>
            <div style="display:flex; justify-content: space-around;">
              <mat-list>
                <mat-list-item *ngFor="let sent of transfers.sent">
                  <span>{{ sent.currency_name }}: {{ sent.amount }} on {{ formatDate(sent.datetime) }}</span>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
